<h1 align='center'>CALEB SCHOOLS ABUJA<br>2b Agadez Crescent
	Wuse 2, Abuja. Nigeria
</h1>

<table align='center' width='1000px'>
	<tr>
		<td><h2 align='center'>Student Registration Form</h2></td>
	</tr>
</table>

<%= form_for :form, url: forms_path do |f| %>
<% if @form.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@form.errors.count, "error") %> prohibited
      this form from being saved:</h2>
    <ul>
    <% @form.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<p>
    <%= f.label :First_Name %><br>
    <%= f.text_field :First_Name %>
</p>
<p>	
    <%= f.label :Last_Name %><br>
    <%= f.text_field :LAST_Name %>
<p>
	<%= f.label :Class %><br>
    <%= f.text_field :Class %>
</p>
<p>	
    <%= f.label :Gender %><br>
    <%= f.text_field :Gender %>
</p>	

	<p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', forms_path %>