<p>
  <strong>First Name:</strong>
  <%= @form.First_Name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @form.LAST_Name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @form.Class %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @form.Gender %>
</p>

<%= link_to 'Edit', edit_form_path(Form) %>
